body {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(22, 7, 15);
}

button {
  border: 0;
}

div {
  padding: 50px;
  margin-top: 40px;
  border-radius: 20px;
}

li {
  list-style: none;
}

button {
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  border: 0;
  background-color: rgb(37, 221, 31);
}

h1 {
  font-size: 2.2rem;
}

strong {
  color: rgb(211, 89, 68);
}