body {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}

/*  */
/*  */
/*  */
/*  */

button {
  background-color: rgb(79, 218, 176);
  padding: 5px 10px;
  margin: 20px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 2px;
  background-color: aliceblue;
}

button.activo {
  background-color: rgb(173, 241, 12);
}

div {
  border-radius: 20px;
  padding: 50px;
}

button.eliminar {
  background-color: rgb(247, 97, 97);
}

table {
  width: 100%;
  border: 3px solid rgb(103, 152, 218);
}

td,
th,
tr {
  border-bottom: 3px solid rgb(103, 152, 218);
  border-right: 3px solid rgb(103, 152, 218);
}

.claro {
  background-color: #fdfb93;
}

.oscuro {
  background-color: #383a57;
}

.azul {
  background-color: #93ddff;
}

.verde {
  background-color: #84ff8f;
}

.baja {
  color: green;
}
.media {
  color: orange;
}
.alta {
  color: red;
}
