h2, h3, button, p, div {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button{
    background-color: #ddd;
    border: 0;
    margin: 15px;
    padding: 4px 15px;
    border-radius: 3px;
    background-color: #E67E22;
}

button:hover{
    background-color: #f90;
}

button.active{
    background-color: #09f;

}