body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 300px;
}

button {
    background-color: #ddd;
    border: 0;
    margin: 5px;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #f90;
}